// VARIABLES
$color-white: #fff;
$color-black: #000;
$color-main: #211f54;
$color-main-blue: #0075ff;
$color-shadowy: #6e7191;
.main {
  section:first-child {
    .first-items {
      margin-top: 121px;
      display: flex;
      .text-part {
        padding-left: 110px;
        p:first-child {
          padding-top: 227px;
          color: $color-main;
          font-size: 68px;
          font-style: normal;
          font-weight: 700;
          line-height: 73.984px; /* 108.8% */
        }
        p:nth-child(2) {
          padding-top: 22px;
          color: $color-shadowy;
          font-family: Roboto;
          font-size: 21px;
          font-style: normal;
          font-weight: 400;
          line-height: 30.006px; /* 142.886% */
        }
        .btn-call {
          padding-top: 34px;
          display: flex;
          align-items: center;
          gap: 28px;
          .buttonHeader {
            width: 212px;
            height: 72px;
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 112.5% */
            transition: 0.4s;
            border-radius: 14px;
            cursor: pointer;
            color: var(--color-white);
            background: var(--color-main-blue);
            border: 2px solid $color-main-blue;
          }

          .buttonHeader:hover {
            background: none;
            color: var(--color-main-blue);
            border: 2px solid var(--color-main-blue);
          }
          .contactt {
            display: flex;
            .tel-number {
              p:first-child {
                padding-top: 0;
                color: $color-shadowy;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px; /* 112.5% */
                letter-spacing: 1.6px;
                text-transform: uppercase;
              }
              p:nth-child(2) {
                color: $color-main;
                font-family: Roboto;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 36.008px; /* 128.6% */
              }
            }
          }
        }
      }
      img {
        width: 100%;
      }
    }
    @media only screen and (max-width: 1432px) {
      .first-items {
        .text-part {
          padding-left: 0;
        }
      }
    }
    @media only screen and (max-width: 1325px) {
      .first-items {
        .text-part {
          padding-left: 0;
          .btn-call {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .contactt {
              margin-top: 30px;
              display: flex;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1325px) {
    section:first-child {
      .first-items {
        display: flex;
        flex-direction: column-reverse;
        .text-part {
          p:first-child {
            padding-top: 50px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 700px) {
    section:first-child {
      .first-items {
        display: flex;
        flex-direction: column-reverse;
        .text-part {
          p:first-child {
            display: flex;
            align-items: center;
            font-size: 32px;
            padding-top: 50px;
          }
        }
      }
    }
  }
  section:nth-child(2) {
    .second-items {
      padding-top: 155px;
      padding-left: 110px;
      padding-right: 110px;
      p:first-child {
        color: $color-main;
        text-align: center;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 57.984px; /* 120.8% */
      }
      p:nth-child(2) {
        padding-top: 21px;
        margin: auto;
        max-width: 648px;
        color: $color-shadowy;
        text-align: center;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.006px; /* 142.886% */
      }
      .s-cards {
        padding-top: 58px;
        display: flex;
        gap: 42px;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .s-card {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width: 380px;
          p:nth-child(2) {
            padding-left: 0;
            padding-top: 39px;
            color: $color-main;
            text-align: center;
            font-family: Roboto;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36.008px; /* 128.6% */
          }
          p:nth-child(3) {
            padding-top: 16px;
            color: $color-shadowy;
            text-align: center;
            font-family: Roboto;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 30.006px; /* 142.886% */
          }
        }
      }
      .s-buttons {
        padding-top: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28px;
        button {
          width: 212px;
          height: 72px;
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 112.5% */
          transition: 0.4s;
          border-radius: 14px;
          cursor: pointer;
        }
        .first {
          color: var(--color-white);
          background: var(--color-main-blue);
          border: 2px solid $color-main-blue;
        }
        .first:hover {
          background: none;
          color: var(--color-main-blue);
          border: 2px solid var(--color-main-blue);
        }
        .second {
          background: none;
          color: var(--color-main-blue);
          border: 2px solid var(--color-main-blue);
        }
        .second:hover {
          color: var(--color-white);
          background: var(--color-main-blue);
          border: 2px solid $color-main-blue;
        }
      }
    }
    @media only screen and (max-width: 1050px) {
      .second-items {
        padding-left: 0;
        padding-right: 0;
      }
    }
    @media only screen and (max-width: 900px) {
      .second-items {
        padding-top: 100px;
        .s-cards {
          flex-wrap: wrap;
        }
      }
    }
  }
}
